header a {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 52px !important;
}


/* ===== 侧边音乐播放器 ===== */
.music-player {
    position: fixed;
    right: -260px;
    top: 40%;
    width: 260px;
    transition: 0.3s;
    background: #111;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.music-player:hover {
    right: 0;
}

.music-player audio {
    width: 100%;
}
